<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="assets/img/user.png" id="icon" alt="User Icon" /> -->
      <h3>Login Here</h3>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" [(ngModel)]="user" name="login" placeholder="login">
      <input type="text" id="password" class="fadeIn third" [(ngModel)]="passwrd" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="userLogin()">
      <!-- <input type="submit" class="fadeIn fourth" value="Cancel"> -->
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>