<div class="card-deck">
  <div class="card">
    <img src="assets/img/mortgage3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mortgage Benefits</h5>
      <p class="card-text">Below are the Mortgage benefits</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/mortgage2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Loan Features</h5>
      <p class="card-text">Loan features provided for you</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/mortgage1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Mortgage or Loan</h5>
      <p class="card-text">Go for Mortgage or Loan</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>